<div class="row">
	<div class="col-md-12">
		<div class="panel panel-inverse">
			<div class="panel-heading">Company details
			<div class="pull-right">
			{% if user.hasPermission('company add') %}
				<a href="{{url('<front>')}}company/add"><i class="fa fa-plus" title="Add" data-toggle="tooltip"></i></a>
			{% endif %}
			{% if data.name is not empty %}
				<a href="{{url('<front>')}}company/edit/{{ data.id }}"><i class="icon-note" title="Edit" data-toggle="tooltip"></i></a> 
			{% endif %}
			</div>
			</div>
			<div class="panel-wrapper collapse in" aria-expanded="true">
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Company Name:</label>
										<div class="col-md-9">
											<p class="form-control-static"> {{ data.name }}</p>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Company Type:</label>
										<div class="col-md-9">
											<p class="form-control-static"> {{ data.type }} </p>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Email:</label>
										<div class="col-md-9">
											<p class="form-control-static"> {{ data.email }} </p>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Phone:</label>
										<div class="col-md-9">
											<p class="form-control-static"> {{ data.phone }}</p>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Address:</label>
										<div class="col-md-9">
											<p class="form-control-static"> {{ data.address }} </p>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">Logo:</label>
										<div class="col-md-9">
											<p class="form-control-static">  </p>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
						</div>
				   <div class="form-actions">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
									<div class="col-md-8"></div>
									{% if data.name is not empty %}
										<div class="col-md-4">
										   <a href ="{{url('<front>')}}company/edit/{{ data.id }}"> <button type="button" class="btn btn-info" > <i class="fa fa-pencil"></i> Edit</button></a>
									{% endif %}	
										</div>
									</div>
								</div>
								<div class="col-md-6"> </div>
							</div>
						</div>    
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
